<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
        <link rel="stylesheet" href="./shop.css">
    </head>
    <body>
        <div class="pageBody">

            <div class="cardPackContainer">

                <div class="cardPack">

                    <div class="packInfosContainer">
                        <div class="cardPackHeader">
                            <h3 class="greeny">Combien voulez-vous de Bots ?</h3>
                        </div>
                        <div class="cardPackDesc">
                            <div class="selectButton">
                                <div class="selectButtonPart">
                                    <span class="regularText">1 Bot</span>
                                </div>
                                <div class="selectButtonPart">
                                    <span class="priceText">0,25 €</span>
                                </div>
                            </div>
                            <div class="selectButton">
                                <div class="selectButtonPart">
                                    <span class="regularText">2 Bots</span>
                                </div>
                                <div class="selectButtonPart">
                                    <span class="priceText">0,5 €</span>
                                </div>
                            </div>
                            <div class="selectButton">
                                <div class="selectButtonPart">
                                    <span class="regularText">4 Bots</span>
                                </div>
                                <div class="selectButtonPart">
                                    <span class="priceText">1 €</span>
                                </div>
                            </div>
                            <div class="selectButton active">
                                <div class="selectButtonPart">
                                    <span class="regularText">6 Bots</span>
                                    <div class="remise">-15%</div>
                                </div>
                                <div class="selectButtonPart">
                                    <span class="priceText">2 €</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="packInfosContainer">
                        <div class="cardPackHeader">
                            <h3 class="greeny">Combien voulez-vous de serveurs par Bot ?</h3>
                        </div>
                        <div class="cardPackDesc">
                            <div class="selectButton">
                                <div class="selectButtonPart">
                                    <span class="regularText">1 Serveur</span>
                                </div>
                                <div class="selectButtonPart">
                                    <span class="priceText">0,25 €</span>
                                </div>
                            </div>
                            <div class="selectButton">
                                <div class="selectButtonPart">
                                    <span class="regularText">2 Serveurs</span>
                                </div>
                                <div class="selectButtonPart">
                                    <span class="priceText">0,5 €</span>
                                </div>
                            </div>
                            <div class="selectButton">
                                <div class="selectButtonPart">
                                    <span class="regularText">4 Serveurs</span>
                                </div>
                                <div class="selectButtonPart">
                                    <span class="priceText">1 €</span>
                                </div>
                            </div>
                            <div class="selectButton active">
                                <div class="selectButtonPart">
                                    <span class="regularText">10 Serveurs</span>
                                    <div class="remise">-15%</div>
                                </div>

                                <div class="selectButtonPart">
                                    <span class="priceText">2 €</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="packInfosContainer">
                        <div class="cardPackHeader">
                            <h3 class="greeny">Voulez-vous que nous hébergeons les Bots ?</h3>
                        </div>
                        <div class="cardPackDesc">
                            <div class="selectButton active">
                                <div class="selectButtonPart">
                                    <span class="regularText">Oui</span>
                                </div>
                                <div class="selectButtonPart">
                                    <span class="priceText">2 €</span>
                                </div>
                            </div>
                            <div class="selectButton">
                                <div class="selectButtonPart">
                                    <span class="regularText">Non</span>
                                </div>
                                <div class="selectButtonPart">
                                    <span class="priceText">Free</span>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>

        </div>
    </body>
</html>
